<header id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1>Read Our Blog</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, quaerat?</p>
      </div>
    </div>
  </div>
</header>

<section id="blog" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card-columns">
          <div class="card">
            <img src="../../assets/img/city1.png" alt="" class="card-img-top img-fluid">
            <div class="card-body">
              <h4 class="card-title">Blog Post One</h4>
              <small class="text-muted">Written by Mark 05/2018</small>
              <hr>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt maxime eligendi, possimus minima, repellat quas
                at pariatur nisi corrupti quisquam perferendis consequatur! Totam veritatis nobis eligendi vel deserunt officiis
                sint?</p>
            </div>
          </div>
          <div class="card p-3 bg-success text-white">
            <blockquote class="card-body card-blockquote">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt consequatur explicabo, est esse tenetur quod!</p>
              <footer>
                <small>Someone Famous in
                  <cite title="Source Title">Source Title</cite>
                </small>
              </footer>
            </blockquote>
          </div>

          <div class="card">
            <img src="../../assets/img/city2.png" alt="" class="card-img-top img-fluid">
            <div class="card-body">
              <h4 class="card-title">Blog Post Two</h4>
              <small class="text-muted">Written by Mark 05/2018</small>
              <hr>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt maxime eligendi, possimus minima, repellat quas
                at pariatur nisi corrupti quisquam perferendis consequatur! Totam veritatis nobis eligendi vel deserunt officiis
                sint?
              </p>
            </div>
          </div>
          <div class="card p-3 bg-danger text-white">
            <blockquote class="card-body card-blockquote">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt consequatur explicabo, est esse tenetur quod!</p>
              <footer>
                <small>Someone Famous in
                  <cite title="Source Title">Source Title</cite>
                </small>
              </footer>
            </blockquote>
          </div>

          <div class="card">
            <img src="../../assets/img/city3.png" alt="" class="card-img-top img-fluid">
            <div class="card-body">
              <h4 class="card-title">Blog Post Three</h4>
              <small class="text-muted">Written by Mark 05/2018</small>
              <hr>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt maxime eligendi, possimus minima, repellat quas
                at pariatur nisi corrupti quisquam perferendis consequatur! Totam veritatis nobis eligendi vel deserunt officiis
                sint?
              </p>
            </div>
          </div>
          <div class="card p-3 bg-primary text-white">
            <blockquote class="card-body card-blockquote">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt consequatur explicabo, est esse tenetur quod!</p>
              <footer>
                <small>Someone Famous in
                  <cite title="Source Title">Source Title</cite>
                </small>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>