<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-3">
              Heading One
            </h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis est voluptatum tempora odit soluta voluptatem
              voluptas possimus earum quae dolore.</p>
            <a href="#" class="btn btn-danger btn-lg">Sign Up Now</a>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block mb-5">
            <h1 class="display-3">
              Heading Two
            </h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis est voluptatum tempora odit soluta voluptatem
              voluptas possimus earum quae dolore.</p>
            <a href="#" class="btn btn-primary btn-lg">Learn More</a>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-3">
              Heading Three
            </h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis est voluptatum tempora odit soluta voluptatem
              voluptas possimus earum quae dolore.</p>
            <a href="#" class="btn btn-success btn-lg">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
</section>

<section id="home-icons" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-cog mb-2"></i>
        <h3>Turning Gears</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, at.</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-cloud mb-2"></i>
        <h3>Sending Data</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, at.</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-cart-plus mb-2"></i>
        <h3>Making Money</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, at.</p>
      </div>
    </div>
  </div>
</section>

<section id="home-heading" class="p-5">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-5">
          <h1>Are You Ready To Get Started?</h1>
          <p class="d-none d-md-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid doloremque omnis ad est neque quibusdam in ut
            facilis earum et.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="info" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, reiciendis praesentium dolorem eius enim iusto eligendi
          ut. Exercitationem, ea quisquam?</p>
        <a href="" class="btn btn-outline-danger btn-lg">Learn More</a>
      </div>
      <div class="col-md-6">
        <img src="../../assets/img/laptop.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

<section id="video-play">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container p-5">
          <a href="#" class="video" data-toggle="modal" data-target="#videoModal">
            <i class="fa fa-play"></i>
          </a>
          <h1>See What We Do</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="gallery" class="py-5">
  <div class="container">
    <h1 class="text-center">Photo Gallery</h1>
    <p class="text-center">Check out our photos</p>
    <div class="row mb-4">
      <div class="col-md-4">
        <a href="#"
          data-toggle="modal" data-target="#modal1" data-gallery="img-gallery">
          <img src="../../assets/img/1.png" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4">
        <a href="#" data-toggle="modal" data-target="#modal2"
          data-gallery="img-gallery">
          <img src="../../assets/img/2.png" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4">
        <a href="#" data-toggle="modal" data-target="#modal3" data-gallery="img-gallery">
          <img src="../../assets/img/3.png" alt="" class="img-fluid">
        </a>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-4">
        <a href="#" 
          data-toggle="modal" data-target="#modal4" data-gallery="img-gallery">
          <img src="../../assets/img/4.png" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4">
        <a href="#" data-toggle="modal" data-target="#modal5" data-gallery="img-gallery">
          <img src="../../assets/img/5.png" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4">
        <a href="#" data-toggle="modal" data-target="#modal6" data-gallery="img-gallery">
          <img src="../../assets/img/6.png" alt="" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
</section>

<section id="newsLetter" class="text-center p-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Signup For Our News Letter</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique cumque accusantium tempore aliquid rerum, ipsum
          explicabo? Molestiae commodi deserunt provident.</p>
        <form class="form-inline justify-content-center">
          <label class="sr-only" for="name">Name </label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Enter Name">

          <label class="sr-only" for="email">Email </label>
          <input type="email" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Enter Email">

          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="videoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <iframe src="https://www.youtube.com/embed/UoVytwPk3iA?autoplay=0&controls=0" height="400" width="100%" allowfullscreen frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <iframe src="https://www.shutterstock.com/video/clip-16314850-stock-footage-technology-icon-symbol-digital-animation-k-resolution.html?language=ko" height="600" width="100%" allowfullscreen frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <iframe src="https://blog.apaonline.org/2016/05/19/technological-vs-social-progress-why-the-disconnect/"
          height="600" width="100%" allowfullscreen frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <iframe src="https://www.aniketwarty.com/technology-trends-that-will-change-the-world-in-2017/"
          height="600" width="100%" allowfullscreen frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal4">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <iframe src="https://www.qualirede.com.br/qualirede-apresenta-resultados-na-gestao-de-planos-de-saude-com-o-uso-da-inteligencia-artificial/"
          height="600" width="100%" allowfullscreen frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal5">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <iframe src="https://www.techbooky.com/how-technology-affects-humanity/"
          height="600" width="100%" allowfullscreen frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal6">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <iframe src="http://www.youthincmag.com/technology-changed-way-work"
          height="600" width="100%" allowfullscreen frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>